body{
    margin: 0;
    padding: 0;
}
.container{
    padding-top: 40px ;
    color: white;
    background-color: #293f50;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}
#style{
    width: 27%;
    font-size: 50px;
}
#navbar{
    width: 40%;
    text-align: right;   
    display: flex;
    /* justify-content: right; */
    flex-direction: column;
    align-items:stretch;
    padding-top: 3% ;
    /* ALTERNATIVE REQUIRED */
}
#navbar > .p{
    color: #648880;
    font-size: 24px;
}
.nav-list{
    list-style: none;
    padding: 0; 
    /* text-align: right; */
}
.nav-list >li{
    padding: 1.5%;
    font-size: 18px;
    display: inline;
}
#style:hover , .nav-list >li:hover{
    color: #648880;
    cursor: pointer;
}
.content1 > h1 , .content1>p{
    text-align: center;
}
.content1{
    margin: 0 auto;
    padding: 35px 300px 50px 300px;
    color: white;
    background-color: #293f50;    
}
.content1 > h1{
    font-size: 30px;
    font-weight: 150;
    color: #648880;
}
.content1 > p{
    font-size: 26px;
    font-weight: 100;
    line-height: 50px;
}
#button1{
    padding: 25px 35px;
    /* margin: 0 auto; */
    background-color: #293f50;
    color: white;
    border-radius: 8px;
    border: 2px solid white;
}
#button1:hover{
    color: #648880;
    background-color: white;
    cursor: pointer;
}
.button{
    /* margin: 0 auto; */
    text-align: center;
}
.section2{
    height: 75vh;
    padding-top: 3.5%; 
}
.container2{
    /* padding-top:  3%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.speakers, .audience, .chicago{
    width: 20%;
    height: 13vh;
    padding: 0 10px;

}
img{
    border-radius: 3px;
    width: 100%;
    height: 35vh;
}
.speakers >h1, .audience>h1, .chicago >h1{
    font-size: 18px;
    color: #648880;
    font-weight: 300;
    letter-spacing: 2px;
}
.speakers >h2, .audience>h2, .chicago >h2{
    font-size: 21px;
    letter-spacing: 1.5px;
    font-weight: 250;
    color: #648880;
    margin-bottom: 0;
}
.speakers >p , .audience >p , .chicago>p {
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 200;
    color: #648880;
    margin-top: 15px;
}
.footer{
    text-align: center  ;
    padding: 30px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    background-color: #293f50;
    justify-content: center;
}
.style-logo{
    display: inline-block;
    width: 30%;
    text-align: left;
    color: #648880;
}
.footer-list{
    display: inline-block;
    margin-left: 5%;
    /* width: 30%; */
    list-style: none;
}
.footer-list >ul > li{
    padding: 4px 8px;
    font-size: 16px;
    display: inline;
    color: white;
}
.footer-list > ul >li:hover{
    color: #648880;
    cursor: pointer;
}
 /* display: inline-block will get content on the same baseline
 display:flex had a prob with it, ASK*/